
*.ipynb

hw3/.ropeproject/history

hw3/.ropeproject/objectdb

hw4/.ropeproject/config.py

hw3/.ropeproject/config.py

hw3/.ropeproject/globalnames

hw4/.ropeproject/globalnames

hw4/.ropeproject/history

hw4/.ropeproject/objectdb
